
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	ctags = !.git/hooks/ctags.sh
[push]
	default = nothing
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
