[core]
	editor = vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	ctags = !.git/hooks/ctags.sh
	delete = git status | grep 'deleted:' | cut -d':' -f2 | xargs -t -I {} git add -u "{}"
[push]
	default = nothing
[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green
  changed = yellow
  untracked = cyan

[merge "merge-po-files"]
    name = merge po-files driver
    driver = /etc/git-merge-po-files %O %A %B
